<h2 mat-dialog-title *ngIf="!data.remove">Password protect your link</h2>
<h2 mat-dialog-title *ngIf="data.remove">{{data.removeMessage}}</h2>
<!-- View usage data in new tab?
Cancel continue -->
 <!-- make this component more generic, get the title in the component. as well as placeholder etc, have it as a data input -->
<div mat-dialog-content *ngIf="!data.remove">
   <mat-form-field>
      <input matInput [(ngModel)]="inputText" placeholder="Enter a password" required (keydown.enter)="set()">
      <mat-error *ngIf="showValidation">Please enter a password</mat-error>
   </mat-form-field>
</div>
<div mat-dialog-actions align="center">
   <button mat-button (click)="cancel()">Cancel</button>
   <button *ngIf="!data.remove" mat-button color="primary" (click)="set()">Set password</button>
   <button *ngIf="data.remove" mat-button color="warn" (click)="remove()">Remove</button>
</div>
