<div *ngIf="url" class="wrapper">
   <div class="top-left">
      <h2 class="mat-h2">{{ url.shortUrl | removeHttp }}</h2>
      <div class="flex">
         <button mat-icon-button ngxClipboard [cbContent]="url.shortUrl" aria-label="Copy to clipboard"
            matTooltip="Copy to clipboard" (click)="displayCopiedMessage()">
            <mat-icon>content_copy</mat-icon>
         </button>
         <button mat-icon-button aria-label="Share"
            matTooltip="Share" (click)="share()">
            <mat-icon>share</mat-icon>
         </button>   
         <a mat-icon-button color="primary" href="{{ url.shortUrl }}" target="_blank"
            matTooltip="Click to visit the shortened URL" class="link-button">
            <mat-icon>launch</mat-icon>
         </a>
      </div>
   </div>
   <div class="buttons">
      <ng-container *ngIf="showActionButtons">
         <button mat-icon-button aria-label="Password protection" matTooltip="Edit password protection"
            (click)="showPasswordDialog(url)">
            <mat-icon>{{ url.password ? 'lock' : 'lock_open' }}</mat-icon>
         </button>
         <a mat-icon-button aria-label="View usage" matTooltip="View usage" href="{{ url.shortUrl }}/usage"
            target="_blank">
            <mat-icon>assessment</mat-icon>
         </a>
         <button mat-icon-button aria-label="Remove" matTooltip="Remove" (click)="remove(url)">
            <mat-icon>delete_forever</mat-icon>
         </button>
      </ng-container>
   </div>
   <p class="bottom target-url mat-typography">
      <span matTooltip="{{url.targetUrl}}" class="target-url mat-typography">
         {{ url.targetUrl | removeHttp}}
      </span>
   </p>
</div>
<mat-dialog-content></mat-dialog-content>