
<ul>
   <li *ngFor="let url of urls">
      <mat-label matTooltip="{{url.targetUrl}}" class="target-url">{{url.targetUrl}}</mat-label>
      <a mat-stroked-button color="primary" href="{{url.shortUrl}}" matTooltip="Click to visit the shortened URL">{{url.shortUrl}}</a>
      <span>
         <button mat-icon-button matSuffix ngxClipboard [cbContent]="url.shortUrl" aria-label="Copy to clipboard" matTooltip="Copy to clipboard">
            <mat-icon>content_copy</mat-icon>
         </button>
         <button mat-icon-button aria-label="View usage" matTooltip="View usage">
            <mat-icon>assessment</mat-icon>
         </button>
         <button mat-icon-button aria-label="Delete" matTooltip="Delete">
            <mat-icon>delete_forever</mat-icon>
         </button>
      </span>
   </li>
</ul>