@import "../../../../variables";

h2 {
   margin: 0 10px 0 10px;
   font-size: 18px;
}

a {
   color: black;
}

p {
   margin: 0 0 10px 10px;
}

.target-url {
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   font-weight: 400;
}

.wrapper {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   border: 2px solid #3f51b5;
   border-radius: 5px;
   overflow: hidden;
   align-items: center;
   background-color: white;
}

.buttons {
   display: flex;
   flex: 0 0 144px;
}

.link-button {
   overflow: hidden;
   max-width: 400px;
   display: grid;
   justify-content: start;
   grid-template-columns: min-content 1fr;
}

.top-left {
   flex: 1;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.bottom {
   flex-basis: 100%;
   text-align: left;
}


.flex {
   display: flex;
}

@media (max-width: $small-screen-width) {
   p {
      margin-bottom: 10px;
   }
   
   .buttons {
      order: 3;
      gap: 10px;
   }

   .top-left {
      justify-content: space-between;
   }

   .wrapper {
      justify-content: center;
   }
}
