.wrapper {
   border: 1px solid #000;
   border-radius: 20px;
}

.title {
   font-size: large;
   margin-left: 10px;
   font-weight: 500;
}

.container {
   width: 100%;
   position: relative;
   white-space: nowrap;
}