.wrapper {
   border: 1px solid #000;
   border-radius: 20px;
}

.title {
   font-size: large;
   margin-left: 10px;
   font-weight: 500;
}

.countries {
   fill: lightgrey;
   stroke: #000;
   stroke-linejoin: round;
   stroke-width: 0.25px;
   .has-count :hover {
      stroke-width: 1px;
      transition: stroke-width 100ms linear;
   }
}

.countries path.has-count:hover {
   stroke-width: 1px;
   transition: stroke-width 100ms linear;
}

.selected {
   stroke-width: 1px;
   transition: stroke-width 100ms linear;
}

path {
   opacity: 1;
   transition: opacity 200ms linear;
}

.container {
   width: 100%;
   position: relative;
   white-space: nowrap;
}