<mat-card>
   <mat-card-title class="title">Enter a password to access this link</mat-card-title>
   <mat-card-content>
      <span class="form-group">
         <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="passwordControl"
               class="password-input" (keydown.enter)="submitPassword()">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
               <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="passwordControl.hasError('required') && passwordControl.touched">
               Password is required
            </mat-error>
            <mat-error *ngIf="passwordControl.hasError('incorrectPassword') && passwordControl.touched">
               Incorrect password
            </mat-error>
         </mat-form-field>
         <button mat-raised-button color="primary" (click)="submitPassword()" class="submit-button" [disabled]="isSubmitting">
            <span *ngIf="isSubmitting">
               <mat-spinner diameter="30" color="accent" class="spinner-overlay"></mat-spinner>
             </span>
            Go to link
         </button>
      </span>
   </mat-card-content>
</mat-card>