:host {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 65vh;
}
 
mat-card {
   max-width: 400px;
   width: 100%;
   margin: 0 10px;
   border-radius: 10px;
 }

.form-group {
   display: flex;
   justify-content: center;
   gap: 10px;
}

.password-input {
   flex: 1;
   margin-bottom: 0;
}

.submit-button {
   padding-top: 28px;
   padding-bottom: 26px;
}

.title {
   margin: 20px 20px 30px;
}

.spinner-overlay {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}