h1 {
   text-align: center;
}

nav {
   margin-top: 40px;
   background: whitesmoke;
}

section {
   margin: 0 10px;
}

mat-card {
   margin-top: 50px;
}

mat-card-content {
   padding: 0;
}

.placeholder {
   text-align: center;
   padding: 0 10px;
}