<section>
  <mat-card>
    <mat-card-content center>
      <mat-form-field>
        <input matInput placeholder="Enter URL to shorten" [(ngModel)]="url">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="shorten()">Shorten URL</button>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="shortUrl">
     <mat-card-content>
        <p>Short URL:</p>
        <a href="{{shortUrl}}">{{shortUrl}}</a>
     </mat-card-content>
     <mat-card-actions>
       <button mat-button ngxClipboard [cbContent]="shortUrl">Copy Short URL</button>
     </mat-card-actions>
  </mat-card>
</section>