<p class="center mat-typography">Shorten, Secure, and Analyse Your Links with Our All-in-One URL Shortener!</p>
<section>
   <mat-card>
      <mat-card-content>
         <form (ngSubmit)="shorten()" class="form-group">
            <mat-form-field appearance="outline" class="url-input" subscriptSizing="dynamic">
               <mat-label for="inputUrl">Enter URL</mat-label>
               <input matInput [(ngModel)]="inputUrl" placeholder="https://example.com" name="inputUrl" />
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" class="shorten-button">
               Shorten
            </button>
         </form>
      </mat-card-content>
   </mat-card>
</section>
<section class="shortened-url-section">
   <app-url-info-list [urls]="urlLocalStorageService.shortenedUrls">
   </app-url-info-list>
</section>
<section class="info-section">
   <mat-card class="blurb">
      <mat-card-content>
      <h1 class="mat-h1">Welcome to our powerful URL Shortener! 🚀</h1>
         <p class="mat-typography">Shorten, Secure, and Supercharge your links with our all-in-one web application. We offer more than just compact URLs; we provide you with the tools to make your links smarter and more effective.</p>
         <h2 class="mat-h2">🌐 Shorten & Simplify</h2>
         <p class="mat-typography">Transform long, unwieldy URLs into neat, memorable links. Share with confidence, knowing your audience won't be daunted by complex web addresses.</p>
         <h2 class="mat-h2">🔐 Password Protection</h2>
         <p class="mat-typography">Keep your links under lock and key! Add an extra layer of security by password-protecting your links. Share securely with only those you trust.</p>
         <h2 class="mat-h2">📊 In-Depth Analytics</h2>
         <p class="mat-typography">Uncover the secrets behind your links' performance. Dive into comprehensive usage data:</p>
         <ul class="mat-typography">
            <li>Discover popular times of day for clicks.</li>
            <li>Identify peak days of the week.</li>
            <li>Track the last 30 days and the past year.</li>
            <li>Explore geographical insights to see where your audience is located.</li>
            <li>Get a breakdown of devices, operating systems, and browsers used to access your links.</li>
         </ul>
         <p class="mat-typography">Our goal is to empower you with the data and insights you need to make informed decisions and optimize your links for maximum impact. Get started today and take your URLs to the next level with our URL Shortener!</p>
      </mat-card-content>
   </mat-card>
</section>