@import "../../../../variables";

section {
   background: white;
   box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   margin: 0 10px;
}

.form-group {
   display: flex;
   align-items: baseline;
   gap: 10px;
}

.url-input {
   flex: 1;
   margin-bottom: 0;
}

.shorten-button {
   padding-top: 28px;
   padding-bottom: 26px;
}

.shortened-url-section {
   margin-top: 30px;
}

.info-section {
   margin-top: 30px;
}

.center {
   text-align: center;
   padding: 0 30px;
}

.blurb {
   padding: 10px;
}

@media (max-width: $x-small-screen-width) {
   .form-group {
      flex-direction: column;
      align-items: normal;
   }
}
