@import "../variables";

header {
   font-size: xxx-large;
   font-family: monospace;
   font-weight: bold;
   color: midnightblue;
   text-shadow: 2px 2px lightgrey;
   padding-top: 25px;
   text-align: center;
}

main {
   max-width: 800px;
   margin: 0 auto 0 auto;
   width: 100%;
}

a {
   text-decoration: none;
}

footer {
   line-height: normal;
   margin-top: 50px;
}

.footer-logo {
   height: 14px;
   padding: 2px 2px 0;
}
