@import '../variables';

header {
   font-size: xxx-large;
   font-family: monospace;
   font-weight: bold;
   color: midnightblue;
   text-shadow: 2px 2px lightgrey;
   padding: 25px 0px 50px;
}

main {
   max-width: 800px;
   margin: 0 auto 0 auto;
}

@media (max-width: $x-small-screen-width) {
   header {
      padding-bottom: 30px;
   }
}
