@import "../../../../../variables";

:host {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
   padding: 30px 15px;
}

@media (max-width: $medium-screen-width) {
   :host {
      grid-template-columns: 1fr;
   }
}
