/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
   background-color: whitesmoke;
   margin: 0;
}

app-root {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
   gap: 15px;
}
