<h2 mat-dialog-title *ngIf="!url.password">Password protect your link</h2>
<h2 mat-dialog-title *ngIf="url.password">Remove password</h2>
<div mat-dialog-content *ngIf="!url.password">
  <mat-form-field>
    <input matInput [(ngModel)]="inputText" placeholder="Enter a password" required>
    <mat-error *ngIf="showValidation">Please enter a password</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="cancel()">Cancel</button>
  <button *ngIf="!url.password" mat-button color="primary" (click)="set()">Set password</button>
  <button *ngIf="url.password" mat-button color="warn" (click)="remove()">Remove</button>
</div>
